{% extends "base.html" %}
{% load static %}
{% block title %}
My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/IMG_6535.jpeg" %}" alt="Max - The Author of This Blog" />
        <h2>Zafar Aftab's Portfolio</h2>
    </header>
    <p>Hi, I am Aftab, and I love to do code!</p>
</section>

<section id="latest-post">
    <h2>My Latest Thoughts</h2>
    <ul>
{% for post in posts %}
            {% include "blog/includes/post.html" %}
{% endfor %}
        
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming and learning new things.</p>
</section>
{% endblock %}




